@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

html {
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

nav,
ul {
  display: block;
}

header {
  padding-bottom: 30px;
}

ul {
  list-style: none;
}

a {
  color: black;
}

header,
footer,
main {
  width: 80%;
  margin: auto;
}

.header-logo {
  padding: 5px 35px;
  margin: 0;
  display: block;
  float: left;
  height: 85px;
}

#nav-item {
  color: #ffffff;
  text-decoration: none;
}

#nav-item:hover {
  color: #95d6f0;
  transition: color 500ms;
}

.nav-item {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  padding: 0 25px;
}

.navbar {
  display: block;
  height: 85px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  width: 100%;
}
nav {
  display: block;
  height: 85px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

button:focus {
  outline: 0;
}
